<template>
  <div class="about">
    <b-container class="bv-example-row text-left">
      <b-row class="justify-content-md-center mb-5">
        <b-col cols="6">
          <h1>Login Here</h1>
          <b-form @submit="onSubmit" @reset="onReset" v-if="show">
            <b-form-group
              id="input-group-1"
              label="Email address:"
              label-for="input-1"
            >
              <b-form-input
                id="input-1"
                v-model="form.email"
                type="email"
                placeholder="Enter email"
                required
              >
              </b-form-input>
            </b-form-group>

            <b-form-group
              id="input-group-2"
              label="Your Password:"
              label-for="input-2"
            >
              <b-form-input
                id="input-2"
                v-model="form.password"
                placeholder="Enter password"
                type="password"
                required
              ></b-form-input>
            </b-form-group>
            <b-button type="submit" variant="primary">Submit</b-button>
            <b-button type="reset" variant="danger">Reset</b-button>
          </b-form>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import { userLogin } from "../services/userService";
const getForm = () => ({
  email: "",
  password: ""
});
export default {
  data() {
    return {
      form: getForm(),
      show: true
    };
  },

  methods: {
    onSubmit(event) {
      event.preventDefault();

      const formData = {
        email: this.form.email,

        password: this.form.password
      };

      userLogin(formData)
      .then(response => {
          if (response.status === 200) {
            this.$store.dispatch("login");
            this.$store.dispatch("setUserId", response.data.id);
            this.$router.push("/products");
          }
        })
        .catch(error => {
          console.log(error);
          alert("Invalid email and password!");
        });
    },
    onReset(event) {
      event.preventDefault();
      this.form = getForm();
      this.$nextTick(() => {
        this.show = true;
      });
    }
  },
  name: "Login"
};
</script>
